<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Distribucion del Canon Municipal - DISTRITO BELEN</title>
    <script language="javascript" type="text/javascript" src="tab/jquery-1.3.2.min.js">
    </script>
    <script language="javascript" type="text/javascript" src="tab/h2c_acordeon.js"></script>
    <link href="tab/h2c_acordeon.css" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/estilos.css')}}" rel="stylesheet" type="text/css">

</head>

</html>

<body>
    {% include '/reporte-gobiernos-locales/cabecera.html'%} {% include '/reporte-gobiernos-locales/t1.html'%} {% include '/reporte-gobiernos-locales/t2.html'%}
</body>