{% from "/macros/fuente.html" import fuente %}


<div class="table-container table-container--medium">
    <div class="table-container__toggle d-flex">
        <i class="my-auto toggler"></i> <label class="my-auto"> Ubicación Geográfica </label>
    </div>
    <table class="table table-bordered">
        <thead class="table__header">
            <tr>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Ubigeo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>



{{ fuente("fuente") }}