<div style="box-shadow:0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);height: 68px;">
    <div class="columns is-gapless">
        <div class="column is-narrow">
            <img class="logosegdi" src="{{url_for('static', filename='images/gob.pe.svg')}}">
        </div>
        <div class="column">

        </div>
        <div class="column is-narrow">
            <img class="logosayhuite" height="68" src="{{url_for('static', filename='images/logogeo.svg')}}">
        </div>
    </div>
</div>
<br>
<br>
<br>