<header>
    <div class="row z-depth-1" id="row_logos">
        <div class="col s2 center" id="div_pcm">
            <img src="static/images/pcm.png" alt="" id="img_pcm">

        </div>
        <div class="col s8" id="divTitle">
            <label id="lblTitle" for="">PLATAFORMA DIGITAL
                GEORREFERENCIADA GEO
                PERÚ</label>
        </div>
        <a href="http://www.geoperu.gob.pe/" target="_blank">
            <img src="static/images/geoperu.png" alt="" id="img_geoperu">
        </a>
    </div>
</header>